<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Admin Panel | InnovatechX</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Bootstrap css link-->	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<!--sweet2 css link-->	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.min.css">
	<!--font link-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
	<!--css archivo-->
	<link rel="stylesheet" href="Estilos/admin.css"/>
</head>

<body>
	
	  <!-- Thymeleaf: Verificar si el usuario no tiene una sesión válida y redirigirlo -->
    <div th:if="${session.nombreAdmin == null}">
		
    <style>
    .pagina-entera{
        display: none;
        
    }
	</style>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Solo los Administradores tienen acceso a esta página'
            }).then(function () {
                window.location.href = "/adminLogin";
            });
        </script>
    </div>
	
		
	<section class="barra-lateral pagina-entera">
		<a href="#" class="logo">
			<i class="fab fa-slack"></i>
			<span class="text">Admin Panel</span>
		</a>

		<ul class="menu-lateral top">
			<li>
				<a href="/clientes" class="enlace">
					<i class="fas fa-border-all"></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/cerrarSesionUsuario" class="enlace">
					<i class="fas fa-shopping-cart"></i>
					<span class="text">Mi tienda</span>
				</a>
			</li>
			<li>
				<a href="/productos" class="enlace">
					<i class="fa-brands fa-product-hunt"></i>
					<span class="text">Productos</span>
				</a>
			</li>
			<li class="activo">
				<a href="/proveedor" class="enlace">
					<i class="fas fa-people-group"></i>
					<span class="text">Proveedores</span>
				</a>
			</li>
			<li>
				<a href="/mensajes" class="enlace">
					<i class="fas fa-message"></i>
					<span class="text">Mensajes</span>
				</a>
			</li>
			<li >
				<a href="/administrador" class="enlace">
					<i class="fas fa-people-group"></i>
					<span class="text">Perfil de Administrador</span>
				</a>
			</li>
		
	
		</ul>

		<ul class="menu-lateral">

			<li>
				<a href="/cerrarSesion" class="logout">
					<i class="fas fa-right-from-bracket"></i>
					<span class="text">Cerrar Sesión</span>
				</a>
			</li>
		</ul>
	</section>

	<section class="contenido pagina-entera">
		<nav>
			<i class="fas fa-bars menu-btn"></i>
			<a href="#" class="enlace">Categorias</a>
			<form action="#">

			</form>
			<div class="icon-container">
				<a href="/mensajes" class="enlace">
					<i class="fas fa-message"></i>
					<div class="badge" th:text="${session.contadorMensaje}"></div>
				</a>
			</div>
			<input type="checkbox" hidden id="switch-mode" />
			<label for="switch-mode" class="switch-mode"></label>
			<p class="adminBienvenida">Bienvenido Admin: <span th:text="${session.nombreAdmin}"></span></p>


			<a href="#" class="profile" th:if="${session.fotoAdmin != null}">
		
			  <img  th:if="${#strings.startsWith(session.fotoAdmin, 'http')}" th:src="${session.fotoAdmin}" alt="Foto de perfil" />
              <img  th:unless="${#strings.startsWith(session.fotoAdmin, 'http')}" th:src="@{'/Imagenes/Admin/' + ${session.fotoAdmin}}" alt="Foto de perfil" />
			</a>
			<div th:unless="${session.fotoAdmin != null}">
			    <!-- Imagen de perfil predeterminada o marcador de posición -->
			    <img class="imgFotoAdmin" th:src="@{'/Imagenes/usuario.png'}" alt="Foto de perfil predeterminada" />
			</div>
		</nav>


		<!--LISTADO -->
		<div th:replace="Proveedor/listadoProveedor :: .listado"></div>


	</section>

<!--MODAL Agregar -->
<div th:replace="Proveedor/agregarProveedor :: .modal"></div>


<!--MODAL EDITAR -->
<div th:replace="Proveedor/editarProveedor :: #editarProveedorModal"></div>




<!--JAVASCRIPT archivo admin-->
<script src="JavaScript/admin.js"></script>

<!--SRIPTS JAVASCRIPT boostrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
	integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
	crossorigin="anonymous"></script>
<!-- JavaScript y jQuery (asegúrate de incluir jQuery en tu página) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.min.js"></script>
<script src="https://kit.fontawesome.com/e0232df615.js" crossorigin="anonymous"></script>


<!-- Funcion con ajax para mostrar los datos en el modal por el id -->
<script>
	function editarProveedor(idProveedor) {
		// Realizar una solicitud AJAX para obtener los detalles del administrador por ID
		$.ajax({
			url: '/editarProveedor/' + idProveedor,
			type: 'GET',
			success: function (proveedor) {
				// Rellenar los campos del modal con los datos del administrador
				$('#editProveedorId').val(proveedor.idProveedor);
				$('#editRazon').val(proveedor.razonSocial);
				$('#editRuc').val(proveedor.ruc);
				$('#editTelefono').val(proveedor.telefono);
			
				// Mostrar el modal de edición
				$('#editarProveedorModal').modal('show');
			},
			error: function () {
				// Manejar errores si la solicitud AJAX falla
				alert('Error al cargar los datos del administrador.');
			}
		});
	}

</script>



</body>

</html>