<div class="modal fade" id="editarProveedorModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-success text-white">
				<h5 class="modal-title">Editar Proveedor</h5>
				<button class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<form th:action="@{/agregarProveedor}" method="POST" class="was-validated"
				id="editarProveedorForm">

				<div class="modal-body">
			        <div class="form-group mb-3">
                        <label for="razonSocial">Razón Social</label>
                        <input type="hidden" id="editProveedorId" name="idProveedor" />
                        <input type="text" class="form-control" id="editRazon" name="razonSocial" required/>
                    </div>
                    <div class="form-group mb-3">
                        <label for="ruc">RUC</label>
                        <input type="text" class="form-control" id="editRuc" name="ruc"  maxlength="11"  required  />
                    </div>
                    <div class="form-group mb-3">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control"id="editTelefono" name="telefono" required maxlength="9"/>
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<!-- Botón para mostrar la alerta -->
					<button type="button" class="btn btn-primary" onclick="editar()">Guardar</button>
					<!-- Botón de enviar formulario (inicialmente oculto) -->
					<button type="submit" id="submitEditar" style="display: none;"></button>
				</div>
			</form>
		</div>
	</div>
	
<script>
function editar() {
    var razon = document.getElementById('editRazon').value;
    var ruc = document.getElementById('editRuc').value;
    var telefono = document.getElementById('editTelefono').value;
  

    if (razon.trim() === '' || ruc.trim() === '' || telefono.trim() === '' ) {
        Swal.fire({
            title: 'Error',
            text: 'Por favor, completa todos los campos del formulario.',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    } else {
        Swal.fire({
            title: 'Proveedor Actualizado!',
            text: 'Hiciste clic en el botón!',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            // Si el usuario hace clic en "OK", activa el evento de clic del botón de enviar formulario
            if (result.isConfirmed) {
                // Encuentra el botón de enviar formulario por su ID y haz clic en él
                var submitButton = document.getElementById('submitEditar');
                submitButton.click();
            }
        });
    }
}

</script>
		
	
</div>



